<div class="bg-color">
    <div class="container">
        <div class="row my-5">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                <div class="py-5 my-5">
    
                    <div class="color shadow-lg p-4 rounded text-center" style="margin-bottom: 80px;">
                        <h1 class="font-italic px-3">❓ FREQUENTLY ASKED QUESTIONS ❓</h1>
                    </div>
                    
                    <div class="shadow-lg p-5 bg-white rounded">
                        <h3 style="text-decoration: underline" class="font-italic mb-3">1. Can I cancel my subscription before 6 months?</h3>
                        <h4 class="font-italic mb-3">Yes, and at the end of the 6 months the contract will expire and the shoes will have to be returned. </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">2. How long does it take to ship the shoes?</h3>
                        <h4 class="font-italic mb-3">The shipment will be made within 2 working days. </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">3. What payment methods do you accept?</h3>
                        <h4 class="font-italic mb-3">We accept: MasterCard, Visa, Maestro, Amex and Paypal. </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">4. How can I know if the shoes are original?</h3>
                        <h4 class="font-italic mb-3">Our shoes are checked by specialists in the sector, who verify their authenticity. </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">5. Can i change shoes before 6 months?</h3>
                        <h4 class="font-italic mb-3">No, you can change your shoes when the plan changes, every 6 months.</h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">6. Can I keep the shoes at the end of the subscription?</h3>
                        <h4 class="font-italic mb-3">No, the shoes must be returned.</h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">7. What if I don't return the shoes?</h3>
                        <h4 class="font-italic mb-3">A penalty will be charged to the payment method. </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">8. What shoes are available?</h3>
                        <h4 class="font-italic mb-3">You can find the shoes available in the "Available Plans" section of the Homepage. </h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">9. Do I have to pay monthly or every 6 months?</h3>
                        <h4 class="font-italic mb-3">Payment will be charged monthly.</h4>
                        <h3 style="text-decoration: underline" class="font-italic mb-3">10. Do you have cookies?</h3>
                        <h4 class="font-italic mb-3">For each plan purchased the shoes will be provided with a cookie.🍪</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
